@font-face {
  font-family: "JetBrains Mono";
  src: url("../fonts/JetBrainsMonoNerdFontMono-Regular.ttf");
}

:root {
    /* colors */
    --clr-warm-gray: #504A40;
    --clr-rusty: #FB8758;
    --clr-urple: #2A0134;
    --clr-black: #0F0F0F;
    /*--clr-black: #0D1321;*/
    --clr-whitish: #FBF8FF;

    --clr-teal: #00C7B2;
    --clr-pinkish: #E480F4;
    --clr-blue: #0047AB;
    --clr-brown: #372A04;
    --clr-red: #8D021F;
    --clr-green: #99FF99;

    --clr-primary: var(--clr-black);
    --clr-fg: var(--clr-whitish);
    --clr-accent: var(--clr-pinkish);
    --clr-header: var(--clr-rusty);
    --clr-hover: var(--clr-teal);


    /* font family */
    --ff-primary: "JetBrains Mono", serif;

    /* https://typescale.com/ */
    --fs-xxsL .823rem;
    --fs-xs: .878rem;
    --fs-sm: .937rem;
    --fs-md: 1rem;
    --fs-lg: 1.067rem;
    --fs-xl: 1.138rem;
    --fs-xxl: 1.215rem;
    --fs-big-af: 1.296rem;

    --fs-body: var(--fs-md);
}

/* themes */
body.night {
    --clr-primary: var(--clr-black);
    --clr-fg: var(--clr-whitish);
    --clr-header: var(--clr-rusty);
    --clr-hover: var(--clr-pinkish);
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    scroll-behavior:smooth
}

/* main tags */

body {
    font-family: var(--ff-primary);
    color: var(--clr-fg);
    background-color: var(--clr-primary);
    font-size: var(--fs-body);
    height: 100vh;
    font-weight: 400;
    line-height: 1.75;
}

footer {
    display: flex;
    justify-content: center;
}

.wrapper > header, main, footer {
    padding: 1em;
}

article > header {
    padding-bottom: 1em;
}

h1, h2, h3, h4, h5, h6 {
    color: var(--clr-rusty);
    padding-bottom: .5em;
}

h1 {
    font-size: var(--fs-xxl);
    color: var(--clr-rusty);
}

h2 {
    font-size: var(--fs-xl);
}

h3 {
    font-size: var(--fs-lg);
}

p, ol {
    padding-bottom: 1em;
}

address {
    width: auto;
    font-size: var(--fs-xs);
}

small {
    font-size: var(--fs-xs);
}

ul {
    list-style: square;
}

ul, ol {
    list-style-position: inside;
}

a {
    color: inherit; 
}

nav a {
    text-decoration: inherit;
}

input {
    background: inherit;
    color: inherit;
}

a:hover {
    color: var(--clr-hover);
}

path {
    fill: var(--clr-fg);
}

hr {
    margin: 1em 0;
    border-color: var(--clr-fg);
}

table {
    border-collapse: collapse;
    width: 100%;
    margin-bottom: 1em;
}

th {
    text-align: left;
}

td, th {
    padding: .25em;
    border: solid 1px var(--clr-fg);
}

caption {
    color: var(--clr-header);
    padding-bottom: .5em;
    text-align: left;
}

ul li p, ol li p {
   display: inline;
}

blockquote {
    font-style: italic;
}

pre {
    padding: .5em;
}

code {
    background-color: #2b303b;
}

/* classes */

.nav-links {
    width: fit-content;
    list-style: none;
    display: flex;
    flex-direction: row;
    gap: 1em;
}

.wrapper {
    margin: auto;
    display: grid;
    min-height: 100vh;
    grid-template-rows: auto 1fr auto; 
    padding: 1em;
    min-width: 20em;
    max-width: 65em;
}   

.icon {
    position: relative;
    top: .3em;
    display:inline-block;
    vertical-align:top;
    line-height:0;
}

.tags > li{
    display: inline;
    padding: .2em;
}

.tags {
    list-style-type: none;
}

/* some utility classes */

.clr-accent {
    color: var(--clr-accent);
}

.clr-hover {
    color: var(--clr-hover);
}

.no-text-dec {
    text-decoration: none;
}
