<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Scott Ross</title>
    <link rel="stylesheet" href="/css/index.css">
</head>
    <body>
        <div class="wrapper">
            <header>
                <h1 id="name">Scott Ross</h1>
                <nav>
                    <ul class="nav-links">
                        <li><a href="/">home</a></li>
                        <li><a href="/projects">projects</a></li>
                        <li><a href="/posts">posts</a></li>
                        <li><a href="/files/resume.pdf" target="_blank">resume</a></li>
                        <li><a href="/contact">contact</a></li>
                    </ul>
                </nav>
            </header>

            <main>
                {% block content %}
                {% endblock content %}
            </main>

            <footer>
                <address>
                    <span>copyright me 2022</span> |
                    <a href="https://github.com/scottross123" target="_blank">github</a> |
                    <a href="https://www.linkedin.com/in/scott-ross-070321227/" target="_blank">linkedin</a> |
                    <span>powered by <a href="https://www.getzola.org/" target="_blank">zola</a></span>
                </address>
            </footer>
        </div>
    </body>
</html>
