<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
        <meta name="description" content="Personal site and blog for Scott Ross">
        <link rel="icon" href="data:image/svg+xml,<svg xmlns=%22http://www.w3.org/2000/svg%22 viewBox=%220 0 100 100%22><text y=%22.9em%22 font-size=%2290%22>👨‍💻</text></svg>">
        <link rel="canonical" href="" />
        <title>Scott Ross</title>
        <link rel="stylesheet" href="/css/index.css">
    </head>
    <body class="">
        <div class="wrapper">
            <header>
                <h1 id="name">Scott Ross</h1>
                <nav>
                    <ul class="nav-links">
                        <li><a href="/">home</a></li>
                        <li><a href="/projects">projects</a></li>
                        <li><a href="/posts">posts</a></li>
                        <li><a href="/files/resume.pdf" target="_blank">resume</a></li>
                        <li><a href="/contact">contact</a></li>
                    </ul>
                </nav>

                <span id="theme-button"></span>
            </header>

            <main>
                {% block content %}
                {% endblock content %}
            </main>

            <footer>
                <address>
                    <span>copyright me 2022</span> |
                    <a href="https://github.com/scottross123" target="_blank">github</a> |
                    <a href="https://www.linkedin.com/in/scott-ross-070321227/" target="_blank">linkedin</a> |
                    <span>powered by <a href="https://www.getzola.org/" target="_blank">zola</a></span>
                </address>
            </footer>
        </div>
        <script src="/js/theme.js"></script>
    </body>
</html>
