{% extends "index.html" %}

{% block content %}
    <article id="experience">
        <h2 class="article-title">Experience</h2>
        <p class="article-body">
            <h3>2023</h3>
            <ul class="timeline">
                <li>Start as a R&D Software Engineer @ Manhattan Associates.</li>
                <li><i>Learn Rust, C, and more about systems progrmaming.</i></li>
                <li><i>Get into game development.</i></li>
            </ul>
            <h3>2022</h3>
            <ul class="timeline">
                <li>Learn and become proficient with React.</li>
                <li></li>
                <li></li>
            </ul>
            <h3>2021</h3>
            <ul class="timeline">
                <li></li>
                <li></li>
                <li></li>
            </ul>
        </p>
    </article>
{% endblock content %}