{% extends "base.html" %}

{% block content %}
    <article id="bio">
        <p class="article-body">
            Hi, I'm a software engineer from Atlanta, Georgia. I gradauted from Georgia State University
            with a B.S. in Computer Science in 2022. My primary interest and experience is web development.
            My most recent experience was as a Software Engineer Intern at HealthEdge, where I worked on
            a new UI for an application using HTML, CSS, JavaScript, and React. My next experience will be
            as a Research & Development Software Engineer at Manhattan Associates starting this
            January.
            <br>
            <br>
            My main programming languages are TypeScript and Java. I also have experience with Python.
            My other skills include React, JavaScript, HTML, CSS, Java, Spring Boot, Python, and Flask.
            <br>
            <br>
            I love learning bla bla bal
        </p>
    </article>

    <article id="recent">
        <h2>Recent Posts</h2>
        <ul>
            {% set section = get_section(path="posts/_index.md") %}
            {% for page in section.pages %}
                {% if loop.index > 3 %}{% break %}{% endif %}
                <article class="post">
                    <h4 class="post-title">
                        <a href="{{ page.permalink }}">{{ page.title }}</a>
                    </h4>
                    <p>{{ page.description }}</p>
                </article>
            {% endfor %}
        </ul>
    </article>
{% endblock content %}
