{% extends "base.html" %}

{% block content %}
    <section id="bio">
        <h2 class="section-title">about</h2>
        {{ section.content | safe }}
    </section>

    <section>
        <h2>languages</h2>
        <ul class="tags">
           <li>typescript 💙</li>
           <li>javascript</li>
           <li>java</li>
           <li>python</li>
           <li>html</li>
           <li>css</li>
        </ul>
        <h2>libraries & frameworks</h2>
        <ul class="tags">
            <li>react</li>
            <li>redux</li>
            <li>next.js</li>
            <li>flask</li>
            <li>spring boot</li>
            <li>tailwindcss</li>
        </ul>
       <h2>tools & other tech</h2>
       <ul class="tags">
           <li>vite</li>
           <li>node.js</li>
           <li>heroku</li>
           <li>postgres</li>
       </ul>
    </section>

    <section id="recent">
        <h2 class="section-title">recent posts</h2>
        {% set section = get_section(path="posts/_index.md") %}
        {% for page in section.pages %}
            {% if loop.index > 3 %}{% break %}{% endif %}
            <article class="post">
                <h3 class="post-title">
                    <a href="{{ page.permalink }}">{{ page.title }}</a>
                </h3>
                <p>{{ page.description }}</p>
                <small>
                    <time>{{ page.date }}</time> |
                    {{ page.word_count }} words |
                    {{ page.reading_time}}
                    {% if page.reading_time == 1 %}
                    minute
                    {% else %}
                    minutes
                    {% endif %}
                </small>
            </article>
        {% endfor %}
    </section>
{% endblock content %}
