{% extends "base.html" %}

{% block content %}
    <article id="bio">
        <h2>about</h2>
        <p class="article-body">
            I'm a software engineer from Atlanta, Georgia. I gradauted from Georgia State University
            with a B.S. in Computer Science in 2022. My primary interest and experience is web development.
            My most recent experience was as a Software Engineer Intern at HealthEdge, where I worked on
            a new UI for an application using HTML, CSS, JavaScript, and React. My next experience will be
            as a Research & Development Software Engineer at Manhattan Associates starting next year.
            January
            <br>
            <br>
            I love learning
            <br>
            <br>
            You can view and then download my resume <a href="files/resume.pdf">here.</a>
        </p>
    </article>

    <article>
        <h3>languages</h3>
        <ul class="tags">
           <li>typescript 💙</li>
           <li>javascript</li>
           <li>java</li>
           <li>python</li>
           <li>html</li>
           <li>css</li>
        </ul>
        <h3>libraries & frameworks</h3>
        <ul class="tags">
            <li>react</li>
            <li>redux</li>
            <li>next.js</li>
            <li>flask</li>
            <li>spring boot</li>
            <li>tailwindcss</li>
        </ul>
       <h3>tools & other tech</h3>
       <ul class="tags">
           <li>vite</li>
           <li>node.js</li>
           <li>heroku</li>
           <li>postgres</li>
       </ul>
    </article>

    <article id="recent">
        <h2>recent posts</h2>
        <ul>
            {% set section = get_section(path="posts/_index.md") %}
            {% for page in section.pages %}
                {% if loop.index > 3 %}{% break %}{% endif %}
                <article class="post">
                    <h4 class="post-title">
                        <a href="{{ page.permalink }}">{{ page.title }}</a>
                    </h4>
                    <p>{{ page.description }}</p>
                </article>
            {% endfor %}
        </ul>
    </article>
{% endblock content %}
