{% extends "base.html" %}

{% block content %}
<article>
    <header>
        <h1>{{ page.title }}</h1>
            <i><time>{{ page.date | date(format="%B %d, %Y", timezone="America/New_York") }}</time></i> 
            | <i>{{ page.reading_time }}
            {% if page.reading_time == 1 %}
            minute
            {% else %}
            minutes
            {% endif %}
            read</i>
            |
            {% set tags = page | get(key="taxonomies", default=[]) | get(key="tags", default=[]) | sort -%}
            {% for tag in tags %}
            <i><a href="/tags/{{ tag }}">{{ tag }}</a></i>
            {% endfor %}
    </header>
        {{ page.content | safe }}
</article>
{% endblock content %}
