{% extends "base.html" %}

{% block content %}
    <section>
		<h1 class="section-title">posts</h1>
		{% if section.pages | length == 0 %}
			<p>no posts</p>
		{% endif %}
        {% for page in section.pages %}
            <article class="post">
				<h2 class="post-title">
					<a href="{{ page.permalink }}">{{ page.title }}</a>
				</h2>
				<p>{{ page.description }}</p>
				<small>
					<time>{{ page.date }}</time> |
					{{ page.word_count }} words | 
					{{ page.reading_time}} 
					{% if page.reading_time == 1 %} 
						minute 
					{% else %} 
						minutes
					{% endif %}
				</small>
            </article>
        {% endfor %}
    </section>
{% endblock content %}
