{% extends "base.html" %}

{% block content %}
    <section>
		<h2 class="section-title">posts</h2>
        {% for page in section.pages %}
            <article class="post">
				<h3 class="post-title">
					<a href="{{ page.permalink }}">{{ page.title }}</a>
				</h3>
				<p>{{ page.description }}</p>
				<small>
					<time>{{ page.date }}</time> | 
					{{ page.word_count }} words | 
					{{ page.reading_time}} 
					{% if page.reading_time == 1 %} 
						minute 
					{% else %} 
						minutes
					{% endif %}
				</small>
            </article>
        {% endfor %}
    </section>
{% endblock content %}
