{% extends "base.html" %}

{% block content %}
    <section>
        <h2 class="section-title">projects</h2>
       {% for project in page.extra.projects %}
        <article>
            <h3 class="post-title">{{ project.name }}</h3>
            <ul class="tags">
                {% for tech in project.tech_stack %}
                <li>{{ tech }}</li>
                {% endfor %}
            </ul>
            <u><a href={{ project.repo_link }} target="_blank">repo</a></u> <u><a href={{ project.live_link }} target="_blank">live</a></u>
            <p>{{ project.description }}</p>

        </article>
       {% endfor %}
    </section>
{% endblock content %}