{% extends "base.html" %}

{% block content %}
    <section>
        <h2>projects</h2>
       {% for project in page.extra.projects %}
        <article>
            <h4 class="post-title">{{ project.name }}</h4>
            <small><a href={{ project.repo_link }}>repo</a> <a href={{ project.live_link }}>live</a></small>
            <p>{{ project.description }}</p>
            <ul class="tags">
                {% for tech in project.tech_stack %}
                <li>{{ tech }}</li>
                {% endfor %}
            </ul>
        </article>
       {% endfor %}
    </section>
{% endblock content %}