<figure class="picture">
    <img src="{{ .Get "img" }}"
    alt="{{ .Get "alt" }}">
    <figcaption>{{ .Get "caption" }}</figcaption>
</figure>

<style>

.picture {
    width: 25em;
    height: 30em;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 1em;
    margin: auto;
}

.picture img {
      width: 100%;
    height: 100%;
  object-fit: cover;
}

.picture figcaption {
    font-size: var(--fs-sm);
    font-style: italic;
    padding: .2em;
    background-color: rgba(0, 0, 0, 0.8);
}


</style>
    
