:root {
    /* gray primary */
    --clr-primary: #504A40;

    /* orange secondary */
    --clr-secondary: #FB8758;

    /* font family */
    --ff-primary: 'JetBrains Mono';
}

* {
    box-sizing: border-box;
}

body {
    font-family: var(--ff-primary);
    color: var(--clr-secondary);
    background-color: var(--clr-primary);
    margin: auto 10em;
}

hr {
    border: 1px solid var(--clr-secondary);
    margin: 40px auto;
}

header, nav {
    display: flex;
    flex-direction: row;
    align-content: center;
    justify-content: center;
}

.wrapper {
    display: flex;
    flex-direction: row;
}

#headshot {
    background-image: url('../assets/cat.jpeg');
    width: 150px;
    height: 150px;
    background-size: cover;
    background-position: center center;
    border-radius: 100%;
}

#me {
    flex: 1;
}

#nav-links {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

#nav-links > li {
    display: block;
    float: left;
    font-size: 28px;
    padding: 0 .5em;
    border-right: 1px solid var(--clr-secondary);
}

#nav-links > li:last-child {
    border-right: 0;
}