@import url("https://fonts.googleapis.com/css?family=JetBrains Mono");
@import url('https://fonts.googleapis.com/css?family=Fira+Sans:400');

:root {
    /* gray primary */
    --clr-primary: #504A40;

    /* orange secondary */
    --clr-secondary: #FB8758;

    /* font family */
    --ff-primary: 'Fira Sans', sans-serif;

    --fs-xs: .694rem;
    --fs-sm: .833rem;
    --fs-md: 1rem;
    --fs-lg: 1.2rem;
    --fs-xl: 1.44rem;
    --fs-xxl: 1.782rem;
    --fs-big-af:2.074rem;

    --fs-body: var(--fs-md);
}